<ul class ="navigation">
    <?php foreach ($this->menu as $menu): ?>
        <?php if (!strpos($menu['title'], ',')): ?>
            <li><a href="<?php echo $this->url(array() , My_Slugs::string2slug($menu['title'])); ?>"><?php echo $menu['title'] ?></a>    </li>
        <?php else: ?>
            <li><a href="#"><?php 
           $submenu = explode(",", $menu['title']);
           echo $submenu['0'];
           ?></a>
            <ul>
                <? for ($i = 1;$i < count($submenu);$i++):?>
                <li><a href="<?php echo $this->url(array() ,My_Slugs::string2slug($submenu[$i])); ?>"><?php echo $submenu[$i] ?></a></li></li>
<?php endfor; ?>
            </ul>
        <?php endif; ?>
<?php endforeach; ?>         
</ul>