 .navigation a:link, .navigation a:active, .navigation a:visited{
    display:block;
    padding:15px 5px;
    color:#fff;
    text-decoration:none;
    text-align: right;
    background-color:#333;
 }

.navigation a:hover{
    background-color:#fff;
    color:#333;
}
.navigation li{
    float:left;
    position:relative;
    width:100px;
}
.navigation ul {
    position:absolute;
    width:9em;
    top:3.3em;
    display:none;
}
.navigation li ul a{
    width:9em;
    float:left;
}
.navigation ul ul{
	top:auto;
	}

.navigation li ul ul {
    left:9em;
    margin:0px 0 0 10px;
    }

.navigation li:hover ul ul, .navigation li:hover ul ul ul, .navigation li:hover ul ul ul ul{
    display:none;
    }
.navigation li:hover ul, .navigation li li:hover ul, .navigation li li li:hover ul, .navigation li li li li:hover ul{
    display:block;
    }