<div class="grid_8">
    <div class="juniorzy">
<div class="box">
    <h2>Junior Młodszy GKS Żukowo rocznik 1997/98</h2>
    <img src="/uploads/popup/juniorzy_97.jpg">
    
    <article class="fresh">
        <ul>
            <li>Bastian Szymon</li>
            <li>Formela Konrad</li>
            <li>Fularczyk Damian</li>
            <li>Krason Kacper</li> 	
            <li>Rejniak Piotr</li> 	
            <li>Reseman Kacper</li> 	
            <li>Richert Filip</li> 	
            <li>Wolf Oskar</li> 	
            <li>Block Artur</li> 	
            <li>Richert Przemysław</li>
            <li>Szynszecki Damian</li> 
            <li>Chiczewski Szymon</li> 
            <li>Różyński Marcin</li> 
            <li>Smentoch Radosław</li>
            <li>Trener: Adrian Suchenek</li>
        </ul>
        <div class="clear"></div>
        <h3>ROZEGRANE MECZE:</h3>        
        <ul>
            <li>sobota, 02 lutego 2013 r</li>
            <li>UKS Conrad II - GKS Żukowo 15:15 / 26 - 26 /</li>
            <li>czwartek, 24 stycznia 2013 r</li>
            <li>GKS Żukowo - UKS PTF Gdańsk 41:23/ 23 - 8 /</li>
            <li>sobota, 05 stycznia 2013 r.</li>
            <li>GKS Żukowo - MTS I Kwidzyn 28:39/ 13 - 20 /</li>
            <li>środa, 19 grudnia 2012 r.</li>
            <li>GKS Żukowo - GUKS Bellator Ryjewo 31:21/ 12 - 9 /</li>
            <li>sobota, 15 grudnia 2012 r.</li>
            <li>GKS Cartusia Kartuzy - GKS Żukowo 38:23	/ 17 - 11 /</li>
            <li>sobota, 08 grudnia 2012 r.</li>
            <li>GKS Żukowo - SPR KAR-DO Spójnia Gdynia 	27:36	/ 15 - 20 /</li>
            <li>czwartek, 29 listopada 2012 r.</li>
            <li>MKS Sambor Tczew - GKS Żukowo 43:23 / 25 - 8 /</li>
            <li>czwartek, 15 listopada 2012 r.</li>
            <li>GKS Żukowo - UKS Conrad I Gdańsk 31:37 / 18 - 23 /</li>
            <li>sobota, 10 listopada 2012 r.</li>
            <li>MTS II Kwidzyn - GKS Żukowo 28:25 / 15 - 13 /</li>
            <li>sobota, 20 października 2012 r.</li>
            <li>GKS Żukowo - UKS Conrad II Gdańsk 25:29	/ 11 - 12 /</li>
            <li>sobota, 13 października 2012 r.</li>
            <li>UKS PTF Gdańsk - GKS Żukowo 26:43 / 11-23 /</li>
            <li>czwartek, 04 października 2012 r.</li>
            <li>MTS I Kwidzyn - GKS Żukowo 44:22 / 20 - 8 /</li>
        </ul>
    </article>
</div>
</div>
</div>