<div class="grid_8">
    <?php echo $this->partial('article_index.phtml', array('slides' => $this->slides)); ?>
    <!-- BOX -->
    <section class="box">
        <?php foreach ($this->paginator as $article) : ?>

            <h2><?php echo $this->escape($article['title']); ?></h2>
            <?php if (!$article['foto_id'] == null): ?>
                <?php
                $fotoname = (explode(",", $article['name']));
                ?>

                <img class="mini" src="<?php echo $this->baseUrl('uploads/mini/' . $fotoname[0]) ?>" alt="GKS Żukowo Piłka Ręczna"/>

            <?php endif; ?>
            <article class="fresh">
                <?php echo $article['article_lead']; ?>...<a href="<?php
            echo $this->url(array('controller' => 'index',
                'action' => 'show', 'article_id' => $article['article_id']), 'default');
                ?>">więcej >>></a>
                <div class="clear"></div>
                <div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </article>
        <?php endforeach; ?>
    </section>
    <div class="clear"></div>

    <!-- PAGINACJA --> 
    <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination_control.phtml'); ?>
</div>
<!-- TABELA ROZGRYWEK-->
<div class="grid_4">
    <div class="odd sponsor_box h2">
        <h2>Następny mecz</h2>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[1]['host_thmb'] ?>" class="left" alt="<?php if(isset($this->lastnext[1]['host_id'])) ?> 2 Liga">
        <ul>
            <li><strong><?php echo $this->lastnext[1]['host_id'] ?></strong></li>
            <li><strong>vs</strong></li>
            <li><strong><?php echo $this->lastnext[1]['visitor_id']; ?></strong></li>
            <li><?php echo $this->lastnext[1]['host_goals']; ?> : <?php echo $this->lastnext[1]['visitor_goals']; ?></li>
            <li><?php echo $this->lastnext[1]['date']; ?></li>
        </ul>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[1]['visitor_thmb'] ?>" class="right" alt="<?php if(isset($this->lastnext[1]['visitor_id'])) ?> 2 Liga">
    </div>
    <div class="odd sponsor_box h2">
        <h2>Ostatni mecz</h2>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[0]['host_thmb'] ?>" class="left" alt="<?php echo $this->lastnext[0]['host_id'] ?> 2 Liga">
        <ul>
            <li><strong><?php echo $this->lastnext[0]['host_id'] ?></strong></li>
            <li><strong>vs</strong></li>
            <li><strong><?php echo $this->lastnext[0]['visitor_id']; ?></strong></li>
            <li><?php echo $this->lastnext[0]['host_goals']; ?> : <?php echo $this->lastnext[0]['visitor_goals']; ?></li>
            <li><?php echo $this->lastnext[0]['date']; ?></li>
        </ul>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[0]['visitor_thmb'] ?>" class="right" alt="<?php echo $this->lastnext[0]['visitor_id'] ?> 2 Liga">
    </div>
    <div class="sponsor_box">
        <h2>SPONSORZY</h2>
        <img src="<?php echo $this->baseUrl('images/zukowo.png') ?>" alt="Urząd Gminy Żukowo"/>
        <img src="<?php echo $this->baseUrl('images/okis.png') ?>" alt="Ośrodek Kultury i Sportu - Żukowo - OKIS"/>
    </div>
    <div class ="tablebox">
        <h2>Tabela</h2>
        <table class="league_table">
            <tr>
                <td>lp</td>
                <td>drużyna</td>
                <td>pkt</td>
                <td>+</td>
                <td>-</td>
            </tr>
            <?php // die(var_dump($this->table)); ?>
            <?php for ($i = 0; $i < count($this->table); $i++): ?>
                <tr>
                    <td><?php echo $i + 1 ?></td>
                    <td><strong><?php echo $this->table[$i]['team'] ?></strong></td>
                    <td><?php echo $this->table[$i]['points'] ?></td>
                    <td><?php echo $this->table[$i]['goals_scored'] ?></td>
                    <td><?php echo $this->table[$i]['goals_allowed'] ?></td>
                </tr>
            <?php endfor; ?>
        </table>
    </div>
    <a href="http://www.gkszukowo.com/feed/rss"><img src="/images/rss.png" alt="Aktualności GKS Zukowo"></a>
</div>

