<div class="grid_8">
    <!-- BOX -->
    <div class="box">
        <h2><?php echo $this->escape($this->article['title']); ?></h2>
        <article class="fresh">
            <?php echo $this->article['text']; ?>
            <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
        </article>
        <div class="article_foto">
            <?php
            $foto = (explode(",", $this->article['names']));

            for ($i = 0; $i < count($foto); $i++) {
                if (!$foto[$i] == null) {
                    $html = '<div class="pics">';
                    $html .='<a class="lightbox" href="' . $this->baseUrl(
                                    'uploads/show/' . $foto[$i]) . '">';
                    $html .='<img class="mini" src="' . $this->baseUrl('uploads/mini/' . $foto[$i]) . '"/></a>';
                    $html .='<a href="' . $this->url(array(
                                'controller' => 'admin',
                                'action' => 'deletefoto',
                                'foto_id' => $this->article['foto_id']), 'default') .
                            '">';
                    $html .='</a></div>';

                    echo $html;
                }
            }
            ?>
        </div>

        <!--ADMIN BUTTONS Zarzadzanie artykułem w w tej sekcji są linki do usuwania artykułu--> 
        <div class="clear"></div>

        <!-- END OF BOX-->
    </div>
</div>
<!-- TABELA ROZGRYWEK-->
<!-- TABELA ROZGRYWEK-->
<div class="grid_4">
    <div class="odd sponsor_box h2">
        <h2>Następny mecz</h2>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[1]['host_thmb'] ?>" class="left" alt="">
        <ul>
            <li><strong><?php echo $this->lastnext[1]['host_id'] ?></strong></li>
            <li><strong>vs</strong></li>
            <li><strong><?php echo $this->lastnext[1]['visitor_id']; ?></strong></li>
            <li><?php echo $this->lastnext[1]['host_goals']; ?> : <?php echo $this->lastnext[1]['visitor_goals']; ?></li>
            <li><?php echo $this->lastnext[1]['date']; ?></li>
        </ul>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[1]['visitor_thmb'] ?>" class="right" alt="">
    </div>
    <div class="odd sponsor_box h2">
        <h2>Ostatni mecz</h2>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[0]['host_thmb'] ?>" class="left" alt="">
        <ul>
            <li><strong><?php echo $this->lastnext[0]['host_id'] ?></strong></li>
            <li><strong>vs</strong></li>
            <li><strong><?php echo $this->lastnext[0]['visitor_id']; ?></strong></li>
            <li><?php echo $this->lastnext[0]['host_goals']; ?> : <?php echo $this->lastnext[0]['visitor_goals']; ?></li>
            <li><?php echo $this->lastnext[0]['date']; ?></li>
        </ul>
        <img src="<?php echo $this->BaseUrl() ?>/images/thmb_teams/<?php echo $this->lastnext[0]['visitor_thmb'] ?>" class="right" alt="">
    </div>
    <div class="sponsor_box">
        <h2>SPONSORZY</h2>
        <img src="/images/zukowo.png"/>
        <img src="/images/okis.png"/>
    </div>
    <div class ="tablebox">
        <h2>Tabela</h2>
        <table class="league_table">
            <?php // die(var_dump($this->table)); ?>
            <?php for ($i = 0; $i < count($this->table); $i++): ?>
                <tr>
                    <td><?php echo $i + 1 ?></td>
                    <td><strong><?php echo $this->table[$i]['team'] ?></strong></td>
                    <td><?php echo $this->table[$i]['points'] ?></td>
                    <td><?php echo $this->table[$i]['goals_scored'] ?></td>
                    <td><?php echo $this->table[$i]['goals_allowed'] ?></td>
                </tr>
            <?php endfor; ?>
        </table>
    </div>
</div>
