<!--google tracking code for web analytics-->
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37645040-1']);
    _gaq.push(['_setVar','remove_me']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<p>Just removed your device from GA!</p>