<?php
$this->title = "Wiadomości";
$this->headTitle($this->title);
?>

<p><a href="<?php
echo $this->url(array('controller' => 'news',
    'action' => 'add'));
?>">Dodaj artykuł</a></p>

<p><a href="<?php
echo $this->url(array('controller' => 'auth',
    'action' => 'logout'));
?>">Wyloguj</a></p>

<?php // die(var_dump($this->news->toArray()));?>
<?php foreach ($this->news as $news) : ?>

    <h1><?php echo $this->escape($news->title);?></h1>
    <p><?php echo $news->text; ?><p>

    <div class="minifotka">
        <?php
        $foto = (explode(",", $news['names']));

        for ($i = 0; $i < count($foto); $i++) {
            $html = ' <a class="lightbox" href="' . $this->baseUrl('uploads/show/' . $foto[$i]) . '">';
            $html .= '<img src="' . $this->baseUrl('uploads/mini/' . $foto[$i]) . '"/></a>';

            echo $html;
        
            if($news['foto_id']){
                
            $html = '<a href="' . $this->url(array('action' => 'deletefoto', 'foto_id' => $news['foto_id']));
            $html .= '"><img src="' . $this->baseUrl('images/delete.png') . '" alt="Usuń" /></a>';
            echo $html;
            }
        }
        ?>
        <p>
      
      <a href="<?php
          echo $this->url(
              array('action' => 'delete', 'foto_id' => $news['foto_id'])) ?>
        <img src="<?php echo $this->baseUrl('images/delete.png') ?>" alt="Usuń" />
      </a>
    </p>
    </div>


    <a href="<?php
    echo $this->url(array('controller' => 'news',
        'action' => 'edit', 'article_id' => $news->article_id));
        ?>">Edit</a>

    <a href="<?php
    echo $this->url(array('controller' => 'news',
        'action' => 'delete', 'article_id' => $news->article_id));
        ?>">Delete</a>

    <a href="<?php
    echo $this->url(array('controller' => 'news',
        'action' => 'formfoto', 'article_id' => $news->article_id));
        ?>">Dodaj zdjęcie</a>

<?php endforeach; ?>