<?php
$this->title = "Zawodnicy";
$this->headTitle($this->title);
?>
<script type="text/javascript">
    //for send data i'll use jquery library
    $(document).ready(
    function(){
	             
        //By clicking on button submit condition makes validate on empty message
        //unless field message will be not empty  , the programm make send data to
        //controller via ajax
        //        $("#submitTo").click(function() {
        //            var message = $('#message').val();
        //            if (message != '') {
        //                //run ajax
        //                $.post('seniorzy/ajax',
        //                {'message' : message},
        //	                                 
        //                //callback function
        //                function (respond) {
        //	                                       
        //                    //put respond in class show-msg
        //	                                    
        //                    $(".show-msg").html(respond);                 
        //	 
        //                }
        //            );
        //            }
        //	                       
        //        });
        //        $("#position").live("change keyup", function () {
        //            var message = $("#position").submit();
        //        });
        $('.playersPos li').click(function(){
            var position = $(this).text();
            if(position != 'drużyna'){
                $(".player_box").hide();
                $('.'+position).show();
            }else {
                $(".player_box").show();
            }
            //            $.post('seniorzy/ajax',{'position' : position},
            //            function (respond){
                
            //            }
            //            );
        });
        $('.schedule').change(function() {
            var round_id = $('#round_id').val();
            $.post('seniorzy/ajax',{'position' : round_id},
            function(respond){})
        });
    });
</script>
<div class="grid_8 minHeight">
    <ul class="playersPos">
        <li><a href="#">drużyna</a></li>
        <li><a href="#">bramkarz</a></li>
        <li><a href="#">obrotowy</a></li>
        <li><a href="#">skrzydłowy</a></li>
        <li><a href="#">rozgrywający</a></li>
        <li><a href="#">środkowy</a></li>
    </ul>
    <div class="clear"></div>
    <?php foreach ($this->players as $players): ?>
        <div class="player_box <?php echo $players['position']; ?>">
            <!--        <h2>
                        <strong><?php echo $players['fname']; ?> <?php echo $players['sname']; ?></strong>
                    </h2>-->
            <img src="<?php echo $this->baseUrl(); ?>/images/players/<?php echo My_Pl::_no_pl(mb_strtolower($players['fname'] . '_' . $players['sname'], 'UTF-8')) . '.jpg' ?>" alt="GKS Żukowo <?php echo $players['sname']; ?>"/>
            <ul>
                <li><strong><?php echo $players['fname']; ?> <?php echo $players['sname']; ?></strong></li>
                <li><?php echo $players['position']; ?></li>
                <li><strong>Numer :</strong> <?php echo $players['number']; ?></li>
                <li><strong>Wzrost :</strong> <?php echo $players['height']; ?></li>
            </ul>
        </div>
    <?php endforeach; ?>
</div>
<!--<div class="schedule">
    <?php echo $this->form; ?>
    <?php // die(var_dump($this->object)) ?>
    <table>
        <tr>
            <td colspan="2"><?php echo substr($this->object[0]['date'], 0, -8); ?></td>
        </tr>
        <?php foreach ($this->object as $k): ?>
            <tr>

                <td><?php echo $k['host_id']; ?> : <?php echo $k['visitor_id']; ?></td>
                <td class="result"><?php echo $k['host_goals']; ?>:<?php echo $k['visitor_goals']; ?></td>
            </tr>
        <?php endforeach; ?>
    </table> -->
</div>

