/* 
    Document   : main
    Created on : Jul 31, 2012, 11:28:57 PM
    Author     : dalli
    Description:
        Purpose of the stylesheet follows.
*/

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
    min-width: 960px;
    background: url('../images/LYT_gkszukowo_bkgd-01.jpg') no-repeat top center #1A396A;
}

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.topsponsor,
.topnavi,
.topleft,
.topright,
.footer_left,
.footer_right,
.article_foto,
.player_box,
.schedule
{
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11
{
    position: relative;
}

.minHeight{
    min-height: 550px;   
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
header {
    background: url('../images/LYT_gkszukowo_02.png') repeat-x;
    width: 100%;
    height: 50px;
    margin: 0;
}

.topleft {
    width: 460px;
}
.topleft h1{
    width: 460px;
    color: #074099;
    padding: 3px 0 0 0;
    font-family: 'Russo', sans-serif;
}
.topleft h2{
    width: 460px;
    padding-left: 8px;
    color: #074099;
    font-family: 'Russo', sans-serif;
}
.topright {
    text-align: right;
    width: 460px;
    height: 50px;
    background: url('../images/LYT_gkszukowo_04.png') no-repeat right;
}

.topsponsor {
    margin: 10px;
    width: 100%;
    /*text-align: center;*/
}
.topsponsor img{
    padding: 5px;
}
.topnavi{
    height: 40px;
    margin-top: 5px;
    background: url('../images/menu_top.png') no-repeat;
    width: 100%;
}
.box {
    width:100%;
    background: #fff;
    text-align: justify;
    border: 1px solid #E4E4E4;
    margin-bottom: 10px;
}
.box table{
    border: 1px solid #ddd;
}
.box table td{
    border: 1px solid #ddd;
}
.box table tr{
    border: 1px solid #ddd;
}

.box p {
    font-size: 10px;
    padding: 10px 10px 20px 10px;
}
.box h2{
    background: url('../images/LYT_gkszukowo_16b.png') repeat-x top #fff;
    padding: 5px 0 0 10px;
    height: 32px;
    font-size: 15px;
    color: #053072;
    letter-spacing: 1px;
}
.box a{
    text-decoration: none;
    color: #053072;
}
.box img{
    float: left;
    padding: 10px;
}
.fresh{
    border-bottom: 1px solid #E4E4E4;
    font-size: 11px;
    padding: 10px 10px 20px 10px;
}
.fresh td{
    padding: 2px;
}
.tablebox{
    background: url('../images/LYT_gkszukowo_23.png') top no-repeat #FBFAE2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 10px;
    border: 2px solid #AEB9BF;
    width: 100%;
}
.tablebox h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    height: 32px;
    width: 300px;
    font-size: 15px;
    font-family: 'Strait',sans-serif;
    color: #918C07;
}

.league_table {
    margin: 0 auto 10px;
    font-size: 12px;
    color: #918C07;
}
.league_table td {
    font-size: 11px;
    border-bottom: solid 1px #ABA508;
    height: 12px;
    padding: 3px;
    vertical-align: top;
}
.league_table th {
    border-bottom: solid 1px #DDDDDD;
    background: #E5EECC;
    height: 30px;
    padding: 7px;
    vertical-align: top;
}

.article_foto img {
    margin: 0;
    padding: 0;

}
.article_foto p {
    text-align: center;
    margin: 0;
    padding: 0;

}

.pics {
    background-color: #f1f1f1;
    border: solid 1px #d9d9d9;
    width: 80px;
    height: 80px;
    padding: 5px;
    margin: 0 5px 20px 5px;
    float: left;
}

.sponsor_box {
    background: url('../images/LYT_gkszukowo_19.png') repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 10px;
    border: 2px solid #AEB9BF;
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 0 0 10px 0;
}

.sponsor_box h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    height: 32px;
    font-size: 15px;
    font-family: 'Strait',sans-serif;
    color: #918C07;
}
.sponsor_box img{
    padding:10px;
}
.playersPos ul{
    margin-left: 10px;
}
.playersPos li{
    display: inline;
}
.playersPos a{
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    float: left;
    color: #E0D80B;
    background-color: #053072;
    margin: 1px;
    font-size: 11px;
    display: inline-block;
}
.playersPos a, a img{
    border: medium none;
    outline: medium none;
    text-decoration: none;
}
.player_box {
    background: url('../images/LYT_gkszukowo_16.png') repeat-x top #eee;
    border: 2px solid #003d9e;
    width: 140px;
    margin: 8px 4px;
    color: #001028;
}
.player_box h2{
    padding: 5px 0 0 10px;
    height: 32px;
    font-size: 15px;
    color: #97A1A6;
    letter-spacing: 1px;
}

.player_box img{
    float: left;
}
.player_box ul {
    font-size: 11px;
    padding: 3px;
}

.box-wrapper li{
    padding: 8px;
}

.odd{
    background: url('../images/LYT_gkszukowo_7.png') repeat;
    border: 2px solid #053072;
    height: 145px;
    color: #084FBA;
    font-size: 13px;
}
.odd h2 {
    color: #E0D80B;
    padding-bottom: 5px;
}
.odd ul{
    float: left;
    width: 136px;
}

.odd img.left {
    float: left;
    padding: 10px 3px 5px 13px;
}
.odd img.right {
    float: right;
    padding: 10px 13px 5px 3px;
}
.paginationControl {
    font-size: 10px;
    float: left;
    width: 100%;
    position: relative;
}
.paginationControl ul{
    clear: left;
    float: left;
    position: relative;
    left: 50%;
    text-align: center;
}
.paginationControl li {
    display: block;
    float: left;
    position: relative;
    right: 50%;
    padding-right: 1px;
}
.paginationControl a {
    float: left;
    width: 50px;
    border: 1px solid #ccc;
    padding-bottom: 3px;
    line-height: 15px;
    background: #EEE;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #444;
}
.paginationControl a.current {
    color: #969696;
    font-weight: normal;
}
.fb-like {
    padding-top: 10px;
}
footer {
    background: url('../images/footer_line_01.gif') repeat-x scroll 0 0 transparent;
    width: 100%;
    height: 150px;
    padding-top:11px;
    margin-top: 10px;
    color: #001028;
    font-size: 12px;
}
footer a:link {color:#001028;text-decoration: none;}      /* unvisited link */
footer a:hover {color:#E0D80B;text-decoration: none;}  /* mouse over link */

.inner_footer {
    background: url('../images/footer_bg.gif');
    width: 100%;
    height: 150px;
}
.footer_left {
    width: 620px;
}
.footer_left img {
    float: left;
}
.footer_right{
    width: 300px;
    text-align: center;
}

footer ul {
    padding-top: 10px;
}
footer img{
    margin: 10px;
}
.copyright {
    position: relative;
    height: 50px;
}
.copyright span{
    position: absolute;
    bottom: 0;
    right: 400px;
}
.juniorzy {
    min-height: 800px;
}
.klub {
    min-height: 800px;
}
.kontakt {
    min-height: 800px;
}
.mlodzicy {
    min-height: 800px;
}
.schedule {
    font-size: 12px;
    margin: 0;
}
.schedule td{
    padding: 5px;
}
.result{
    text-align: center;
}
.container_12 .grid_1 {
    width: 100px;
}

.container_12 .grid_2 {
    width: 140px;
}

.container_12 .grid_3 {
    width: 220px;
}

.container_12 .grid_4 {
    width: 300px;
}

.container_12 .grid_5 {
    width: 480px;
}

.container_12 .grid_6 {
}

.container_12 .grid_7 {
    width: 540px;
}

.container_12 .grid_8 {
    width: 620px;
}

.container_12 .grid_9 {
    width: 700px;
}

.container_12 .grid_10 {
    width: 780px;
}

.container_12 .grid_11 {
    width: 860px;
}

.container_12 .grid_12 {
    width: 940px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
    padding-left: 80px;
}

.container_12 .prefix_2 {
    padding-left: 160px;
}

.container_12 .prefix_3 {
    padding-left: 240px;
}

.container_12 .prefix_4 {
    padding-left: 320px;
}

.container_12 .prefix_5 {
    padding-left: 400px;
}

.container_12 .prefix_6 {
    padding-left: 480px;
}

.container_12 .prefix_7 {
    padding-left: 560px;
}

.container_12 .prefix_8 {
    padding-left: 640px;
}

.container_12 .prefix_9 {
    padding-left: 720px;
}

.container_12 .prefix_10 {
    padding-left: 800px;
}

.container_12 .prefix_11 {
    padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
    padding-right: 80px;
}

.container_12 .suffix_2 {
    padding-right: 160px;
}

.container_12 .suffix_3 {
    padding-right: 240px;
}

.container_12 .suffix_4 {
    padding-right: 320px;
}

.container_12 .suffix_5 {
    padding-right: 400px;
}

.container_12 .suffix_6 {
    padding-right: 480px;
}

.container_12 .suffix_7 {
    padding-right: 560px;
}

.container_12 .suffix_8 {
    padding-right: 640px;
}

.container_12 .suffix_9 {
    padding-right: 720px;
}

.container_12 .suffix_10 {
    padding-right: 800px;
}

.container_12 .suffix_11 {
    padding-right: 880px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
    left: 80px;
}

.container_12 .push_2 {
    left: 160px;
}

.container_12 .push_3 {
    left: 240px;
}

.container_12 .push_4 {
    left: 320px;
}

.container_12 .push_5 {
    left: 400px;
}

.container_12 .push_6 {
}

.container_12 .push_7 {
    left: 560px;
}

.container_12 .push_8 {
    left: 640px;
}

.container_12 .push_9 {
    left: 720px;
}

.container_12 .push_10 {
    left: 800px;
}

.container_12 .push_11 {
    left: 880px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
    left: -80px;
}

.container_12 .pull_2 {
    left: -160px;
}

.container_12 .pull_3 {
    left: -240px;
}

.container_12 .pull_4 {
    left: -320px;
}

.container_12 .pull_5 {
    left: -400px;
}

.container_12 .pull_6 {
    left: -480px;
}

.container_12 .pull_7 {
    left: -560px;
}

.container_12 .pull_8 {
    left: -640px;
}

.container_12 .pull_9 {
    left: -720px;
}

.container_12 .pull_10 {
    left: -800px;
}

.container_12 .pull_11 {
    left: -880px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after,
.container_12:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
    zoom: 1;
}
