.navi {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 800;
    
}
.navi li{
    display: inline;
}
.navi a {
    height: 40px;
    line-height: 20px;
    padding: 8px 20px;
    float: left;
    color: #E0D80B;
    background: url('../images/top_menu_line.png') no-repeat scroll right top transparent;
    display: inline-block;
}

.navi a, a img {
    border: medium none;
    outline: medium none;
    text-decoration: none;
}
.adminnavi{
    height: 50px;
    padding: 0 100px 0 0;
}
.adminnavi a{
    font-size: 11px;
    color: #0066CC;
    text-decoration: none;
}
.articlenavi {
    padding: 10px 0 10px 10px
}

.articlenavi a{
    font-size: 11px;
    color: #0066CC;
    text-decoration: none;
}