/** Demo 3 **/
#slider #slider3        { width: 400px; height: 268px; list-style: none; }

/* expand image */
#slider3 img           { width: 100%; height: 100%; position: relative; }
#slider3 .panel        { position: relative; }

/* position caption close button */
.caption-top .close,
.caption-right .close,
.caption-bottom .close,
.caption-left .close   { font-size: 80%; cursor: pointer; float: right; display: inline-block; }

/* captions */
/* set to position: relative here in case javascript is disabled, script sets captions to position: absolute */
#slider3 .caption-top,
#slider3 .caption-right,
#slider3 .caption-bottom,
#slider3 .caption-left { background: #001F4F; color: #fff; padding: 10px; margin: 0; position: absolute; z-index: 10; opacity: .8; filter: alpha(opacity=80); }

/* Top caption - padding is included in the width (480px here, 500px in the script), same for height */
#slider3 .caption-top  { left: 0; top: 0; width: 480px; height: 30px; }

/* Right caption - padding is included in the width (130px here, 150px in the script), same for height */
#slider3 .caption-right  { right: 0; bottom: 0; width: 130px; height: 180px;  }

/* Bottom caption  - padding is included in the width (480px here, 500px in the script), same for height */
#slider3 .caption-bottom { left: 0; bottom: 0; width: 600px; height: 30px; }

/* Left caption - padding is included in the width (130px here, 150px in the script), same for height */
#slider3 .caption-left   { left: 0; bottom: 0; width: 130px; height: 180px;  }


/******************
  tooltips (Jatt)
 ******************/
.tooltip { cursor: pointer; }
#tooltip {
 min-width: 100px;
 color: #dddddd;
 background: #444;
 border: 1px solid #777;
 padding: 8px;
 display: none;
 opacity: 0.9;
 filter: alpha(opacity=90);
 text-align: left;
 border-radius: .5em;
 -moz-border-radius: .5em;
 -webkit-border-radius: .5em;
 z-index: 1000;
}
#tooltip .body {
 display: block;
 text-align: center;
}

.caption-bottom p a{
    font-size: 11px;
    text-decoration: none;
    color: #C3CED5;   
}
.caption-bottom p {
  color: #E6E03C;
  font-size: 16px;
  height: 32px;
  letter-spacing: 1px;
  padding: 5px 0 0 10px;
}