#popup {
    display: none;
    position: absolute;
    background: transparent;
    border: none;
    text-align: center;
    z-index: 50;
}

#popup img {
    margin: 0;
    padding: 0;
    display: block;
    border: 1px solid #fff;
}

.mini {
    border: 1px solid #fff;
}
