/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
body {
    font: 14px Verdana,Arial, 'Liberation Sans', FreeSans, sans-serif;
}

pre,
code {
    font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}
@font-face {
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    src: local('Strait'), local('Strait-Regular'), url(http://themes.googleusercontent.com/static/fonts/strait/v1/lUDxGkKH3HNEwBuYK6j2SQ.woff) format('woff');
}
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/russo_one_regular.otf');
}

@font-face {
    font-family: 'Russo';
    src: url('../fonts/russo_one_regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/russo_one_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/russo_one_regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/russo_one_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/russo_one_regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/* `Headings
----------------------------------------------------------------------------------------------------*/
h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
    margin-bottom: 20px;
}