<div class="grid_8">
    <div class="box">
        <h2>Kontakt</h2>
        <p><strong>GKS Żukowo</strong><br/>
            ul.Armii Krajowej 2E<br/>
            83-330 Żukowo<br/>
            email: <a href="mailto:gkszukowo@gmail.com">gkszukowo@gmail.com</a>
        </p>
    </div>
    <div class="kontakt"></div>
</div>
<div class="grid_4">
    <div class="sponsor_box">
        <h2>SPONSORZY</h2>
        <img src="images/zukowo.png"/>
        <img src="images/okis.png"/>
    </div>
</div>
