<?php if ($this->identity): ?>
        <a href="<?php echo $this->url(array(),'admin'); ?>">Admin</a>
        <a href="<?php echo $this->url(array(),'addarticle'); ?>">Dodaj artykuł</a>
        <a href="<?php echo $this->url(array(), 'logout'); ?>">Wyloguj</a>
    <?php else: ?>
        <a href="<?php echo $this->url(array(), 'formlogin'); ?>">Zaloguj</a>
        <?php endif; ?>