    <div id="slider">
        <!-- AnythingSlider #3 -->
        <ul id="slider3">
                <?php foreach ($this->slides as $article) : ?>
                    <li class="panel1">
                        <!-- Note this caption is before the image, all others it is after -->
                        <div class="caption-bottom">
                            <p>
                                <strong><?php echo $this->escape($article['title']); ?></strong>
                                <a href="<?php
                        echo $this->url(array(
                            'controller' => 'index',
                            'action' => 'show',
                            'article_id' => $article['article_id']), 'default');
                                ?>">więcej </a> 
                            </p>
                        </div>
                        <?php if (!$article['foto_id'] == null): ?>
                            <?php
                            $foto = (explode(",", $article['foto_id']));
                            $fotoname = (explode(",", $article['name']));
                            $html = '<img src="' . $this->baseUrl('uploads/slider/' . $fotoname[0]) . '" alt="GKS Żukowo Piłka Ręczna"/>';
                            echo $html;
                            ?>
                            <?php
                            else:{
                                $html = '<img src="' . $this->baseUrl('uploads/slider/slider_picture.gif') . '" alt="GKS Żukowo Piłka Ręczna"/>';
                                echo $html;
                            }
                            ?>

                    <?php endif; ?>
                    </li>
                <?php endforeach; ?>
        </ul>
        <!-- END AnythingSlider #3 -->
    </div>
