<div class="inner_footer">
    <div class="container_12">
        <div class="footer_left">
            <a href="http://www.zukowo.pl" target="_blanked"><img onmouseout='src="<?php echo $this->BaseUrl() . '/images/zukowo_blue.png'; ?>"' onmouseover='src="<?php echo $this->BaseUrl() . '/images/zukowo.png'; ?>"' src="<?php echo $this->BaseUrl() . '/images/zukowo_blue.png'; ?>" alt="Urząd Gminy Żukowo"/></a>
            <img onmouseout='src="<?php echo $this->BaseUrl() . '/images/gkszukowo_blue.png'; ?>"' onmouseover='src="<?php echo $this->BaseUrl() . '/images/gkszukowo.png'; ?>"' src="<?php echo $this->BaseUrl() . '/images/gkszukowo_blue.png'; ?>" alt="GKS Żukowo - Piłka ręczna 2 Liga"/>
            <ul>
                <li><h3>GKS Żukowo Piłka Ręczna</h3></li>
                <li>ul.Armii Krajowej 2E</li>
                <li>83-330 Żukowo</h3></li>
                <li><a href="mailto:gkszukowo@gmail.com">gkszukowo@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer_right">
            <a href="http://www.pomorskiwzpr.pl/" target="_blanked"><img onmouseout='src="<?php echo $this->BaseUrl() . '/images/pwzpr_blue.png'; ?>"' onmouseover='src="<?php echo $this->BaseUrl() . '/images/pwzpr.png'; ?>"' src="<?php echo $this->BaseUrl() . '/images/pwzpr_blue.png'; ?>" alt="Pomorski Związek Piłki Recznej" /></a>
            <a href="http://www.zprp.pl/" target="_blanked"><img onmouseout='src="<?php echo $this->BaseUrl() . '/images/zprp_blue.png'; ?>"' onmouseover='src="<?php echo $this->BaseUrl() . '/images/zprp.png'; ?>"' src="<?php echo $this->BaseUrl() . '/images/zprp_blue.png'; ?>" alt="Zwiazek Piłki Ręcznej w Polsce" /></a>
        </div>
        <div class="clear"></div>
        <div class="copyright"><span>COPYRIGHT © 2013 <strong>GKS Żukowo Piłka Ręczna</strong></span></div>
    </div>
</div>
