<ul>
    <?php foreach ($this->menu as $menu): ?>
        <?php if (!strpos($menu['title'], ',')): ?>
            <li><a href="<?php echo $this->url(array(), My_Slugs::string2slug($menu['title'])); ?>"><?php echo $menu['title'] ?></a></li>
        <?php else: ?>
            <?php
            $submenu = explode(",", $menu['title']);
            for ($i = 0; $i < count($submenu); $i++):
                ?>
                <li><a href="<?php echo $this->url(array(), My_Slugs::string2slug($submenu[$i])); ?>"><?php echo $submenu[$i] ?></a></li>
            <?php endfor; ?>
        <?php endif; ?>
<?php endforeach; ?>
</ul>