<?php if ($this->pageCount): ?>
    <div class="paginationControl">
        <ul>
            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
                <li>
                    <a href="<?php echo $this->url(array('page' => $this->next)); ?>"><img src="<?php echo $this->baseUrl('images/icon8.png')?>" alt="wstecz"></a>
                </li>
            <?php endif; ?>

            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <li>
                        <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a>
                    </li>
                <?php else: ?>
                    <li>
                        <a class="current"><?php echo $page; ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)): ?>
                <li>
                    <a href="<?php echo $this->url(array('page' => $this->next)); ?>"><img src="<?php echo $this->baseUrl('images/icon7.png')?>" alt="następny"></a>
                </li>
            <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>