<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
    <head>
        <?php echo $this->headTitle($this->tytul); ?>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>
        <link href="feed/rss" rel="alternate" type="application/rss+xml" title="RSS - " />
        <meta name="msvalidate.01" content="99D10A1809477A58D601466E560F48FE" />
        <meta name="google-site-verification" content="mi9TPOKgRNCCa8BXEMWdmnYtomzYA582YHHUI86YkBY" />
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]--> 
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <header>
            <div class="container_12">
                <div class="topleft">
                    <h1>GKS ŻUKOWO</h1>
                    <h2>PIŁKA RĘCZNA</h2>
                </div>
                <div class="topright">
                    <div class="adminnavi">
                        <?php if ($this->identity): ?>
                            <a href="<?php echo $this->url(array(), 'admin'); ?>">Admin</a>
                            <a href="<?php
                        echo $this->url(array('controller' => 'admin',
                            'action' => 'schedule'), 'default');
                            ?>">Terminarz</a>
                            <a href="<?php echo $this->url(array(), 'addarticle'); ?>">Dodaj artykuł</a>
                            <a href="<?php echo $this->url(array(), 'logout'); ?>">Wyloguj</a>
                        <?php else: ?>
                            <a href="<?php echo $this->url(array(), 'formlogin'); ?>">Zaloguj</a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </header>
        <div class="clear"></div>
        <div class="container_12">
            <div class="topnavi">
                <div class="navi">
                    <?php echo $this->menu(); ?>
                </div>
            </div>
            <div class="clear"></div>            
            <div class="topsponsor">

                <a href="http://www.gkszukowo.com"><img src="<?php echo $this->BaseUrl() . '/images/gkszukowo.png'; ?>" alt="GKS Żukowo - Piłka ręczna 2 Liga"/></a>
                <a href="http://www.zukowo.pl"><img src="<?php echo $this->BaseUrl() . '/images/zukowo.png'; ?>" alt="Urząd Gminy Żukowo"/></a>
                <a href="http://www.gok.zukowo.pl/"><img src="<?php echo $this->BaseUrl() . '/images/okis_small.png'; ?>" alt="Ośrodek Kultury i Sportu w Żukowie"/></a>
                <img src="<?php echo $this->BaseUrl() . '/images/LYT_gkszukowo_11.png'; ?>" alt="Elmir - logo"/>
            </div>
        </div>
        <div class="container_12">
            <?php echo $this->layout()->content; ?>
        </div>
        <!-- end .container_12 -->
        <footer>
            <?php echo $this->partial('footer.phtml'); ?>
        </footer>
        <?php
        if ($this->custom_head) {
            echo $this->custom_head;
        }
        ?>
    </body>
</html>