<div class="grid_8">
    <div class="juniorzymlodzicy">
        <div class="box">
            <h2>Młodzicy GKS Żukowo</h2>
            <img src="/uploads/popup/mlodzicy.jpg">
            <article class="fresh">
                <h3>Skład naszej drużyny</h3>
                <ul>
                    <li>Marcin Różyński</li>
                    <li>Adrian Maciejewski</li>
                    <li>Kacper Krason</li>
                    <li>Kamil Groth</li>
                    <li>Krason Kacper</li> 	
                    <li>Konrad Pohnke</li> 	
                    <li>Oskar Wolf</li> 	
                    <li>Miłosz Szymczak</li> 	
                    <li>Alan Benkowski</li> 	
                    <li>Jarek Warowny</li> 	
                    <li>Kacper Młyński</li> 	
                    <li>Mateusz Wadowski</li> 	
                    <li>Grzegorz Kąkol</li> 	
                    <li>Bartek Richert</li> 	
                    <li>Jakub Richert</li> 	
                    <li>Marcin Stencel</li> 	
                    <li>Trener: Marek Marchewicz</li>
                </ul>
                <div class="clear"></div>
            </article>
        </div>
    </div>
</div>