<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>">
<?php // die(var_dump($this->object)) ?>
    <?php foreach ($this->object as $k): ?>
    <div><?php echo $k['host_id'];?> : <?php echo $k['visitor_id'];?>
        <?php echo $this->formText('host_goals', $k['host_goals'], array('maxlength'=>'2','size' =>'2')) ?>
        <?php echo $this->formText('visitor_goals',$k['visitor_goals'],array('maxlength'=>'2','size' =>'2')) ?>
    </div>
    <?php endforeach;?>
    <?php echo $this->formSubmit('Zapisz', 'Zapisz') ?>
</form>