<?php
$this->title = "Administrator";
$this->headTitle($this->title);
?>

<div class="grid_8">
    <?php foreach ($this->article as $article) : ?>
    
    <!-- BOX -->
    
        <div class="box">
            <h2><?php echo $this->escape($article['title']); ?></h2>
            <p><?php echo $article['article_lead']; ?>...</p>
            <?php if (!$article['foto_id'] == null):?>
            
                <?php
                
                $foto = (explode(",", $article['foto_id']));
                $fotoname = (explode(",", $article['name']));
                
                for ($i = 0; $i < count($foto); $i++) {
                    
                    $html ='<div class="article_foto">';
                    $html .='<div class = "foto"><img class="mini" src="' . $this->baseUrl('uploads/mini/' . $fotoname[$i]) . '"/></div>';
                    $html .='<p><a href="' . $this->url(array(
                                'controller' => 'admin',
                                'action' => 'deletefoto',
                                'foto_id' => $foto[$i]), 'default') .
                            '">';
                    $html .='Usuń </a></p></div>';

                    echo $html;
                    }
                ?>
            <?php endif; ?>
            
             <!--ADMIN BUTTONS Zarzadzanie artykułem w w tej sekcji są linki do usuwania artykułu--> 
             <div class="clear"></div>
            <div class="articlenavi">
                <a href="
                <?php
                echo $this->url(array('controller' => 'admin',
                    'action' => 'edit', 'article_id' => $article['article_id']), 'default');
                ?>">Edytuj artykuł</a>

                <a href="
                <?php
                echo $this->url(array(
                    'controller' => 'admin',
                    'action' => 'delete',
                    'article_id' => $article['article_id']), 'default');
                ?>
                   ">Usuń artykuł</a>

                <a href="<?php
            echo $this->url(array('controller' => 'admin',
                'action' => 'formfoto', 'article_id' => $article['article_id']), 'default');
                ?>">Dodaj zdjęcie</a>
            </div>
            <!-- ADMIN BUTTONS Zarzadzanie artykułem w w tej sekcji są linki do usuwania artykułu -->
            
            <!-- END OF BOX-->
            </div>
        <?php endforeach; ?>
</div>