<?php
echo $this->form;
//die(var_dump($this->round));
?>
<form method="<?php echo $this->form->getMethod() ?>" action="/admin/updategame">
<?php // die(var_dump($this->object)) ?>
    <?php foreach ($this->object as $k): ?>
    <div><?php echo $k['host_id'];?> : <?php echo $k['visitor_id'];?>
        <?php echo $this->formText('host_goals-'.$k['game_id'], $k['host_goals'], array('maxlength'=>'2','size' =>'2')) ?>
        <?php echo $this->formText('visitor_goals-'.$k['game_id'],$k['visitor_goals'],array('maxlength'=>'2','size' =>'2')) ?>
    </div>
    <?php endforeach;?>
    <?php echo $this->formSubmit('Zapisz', 'Zapisz') ?>
</form>
